.Footer{
    display: flex;
    justify-content: space-between;
    padding: 5px 0;
    border: 1px  solid #ccc;
    margin-top: 20px;
}
.Footer button {
    background-color: red;
    color: #fff;
    border-color: transparent;
}
.Footer em{
    color:blue;
    font-style:normal;
    margin: 0 3px;
    font-weight: 600;
}
